<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>chiAction1.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,522},{98,67}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,20},{98,67}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>chiAction2.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,434},{98,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{98,89}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>chiAction3.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,548},{98,59}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,24},{98,59}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>chiAction4.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,424},{98,89}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{98,89}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>chiAction5.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,346},{98,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{98,101}}</string>
                <key>sourceSize</key>
                <string>{98,105}</string>
            </dict>
            <key>gangAction1.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,175},{47,36}}</string>
                <key>offset</key>
                <string>{8,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,35},{47,36}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>gangAction2.png</key>
            <dict>
                <key>frame</key>
                <string>{{759,525},{77,56}}</string>
                <key>offset</key>
                <string>{6,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,25},{77,56}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>gangAction3.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,232},{65,94}}</string>
                <key>offset</key>
                <string>{7,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,5},{65,94}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>gangAction4.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,125},{103,100}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,3},{103,100}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>gangAction5.png</key>
            <dict>
                <key>frame</key>
                <string>{{811,232},{115,100}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{115,100}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>gangAction6.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,220},{115,100}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{115,100}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>gangAction7.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,505},{115,102}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,1},{115,102}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>gangAction8.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,240},{115,104}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,104}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>gangAction9.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,384},{119,104}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,104}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>huAction1.png</key>
            <dict>
                <key>frame</key>
                <string>{{281,522},{48,43}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,40},{48,43}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>huAction10.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,117},{130,113}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,113}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>huAction11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,384},{130,135}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,135}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>huAction2.png</key>
            <dict>
                <key>frame</key>
                <string>{{838,525},{62,59}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,32},{62,59}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>huAction3.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,515},{74,73}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,25},{74,73}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>huAction4.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,521},{86,89}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,17},{86,89}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>huAction5.png</key>
            <dict>
                <key>frame</key>
                <string>{{805,334},{98,103}}</string>
                <key>offset</key>
                <string>{0,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,10},{98,103}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>huAction6.png</key>
            <dict>
                <key>frame</key>
                <string>{{910,400},{102,103}}</string>
                <key>offset</key>
                <string>{-2,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,10},{102,103}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>huAction7.png</key>
            <dict>
                <key>frame</key>
                <string>{{577,125},{114,113}}</string>
                <key>offset</key>
                <string>{-8,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,113}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>huAction8.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,2},{124,113}}</string>
                <key>offset</key>
                <string>{-3,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{124,113}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>huAction9.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,105},{130,113}}</string>
                <key>offset</key>
                <string>{0,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,113}}</string>
                <key>sourceSize</key>
                <string>{130,135}</string>
            </dict>
            <key>huaAction1.png</key>
            <dict>
                <key>frame</key>
                <string>{{425,521},{39,42}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,30},{39,42}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>huaAction2.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,117},{53,56}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,22},{53,56}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>huaAction3.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,504},{65,70}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,15},{65,70}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>huaAction4.png</key>
            <dict>
                <key>frame</key>
                <string>{{89,522},{85,90}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,5},{85,90}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>huaAction5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,517},{85,90}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{85,90}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>huaAction6.png</key>
            <dict>
                <key>frame</key>
                <string>{{928,299},{99,92}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,5},{99,92}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>huaAction7.png</key>
            <dict>
                <key>frame</key>
                <string>{{583,446},{97,100}}</string>
                <key>offset</key>
                <string>{0,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,4},{97,100}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>huaAction8.png</key>
            <dict>
                <key>frame</key>
                <string>{{694,322},{109,100}}</string>
                <key>offset</key>
                <string>{-5,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{109,100}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>huaAction9.png</key>
            <dict>
                <key>frame</key>
                <string>{{475,232},{117,100}}</string>
                <key>offset</key>
                <string>{-1,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,4},{117,100}}</string>
                <key>sourceSize</key>
                <string>{119,104}</string>
            </dict>
            <key>pengAction1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{300,101}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{300,101}}</string>
                <key>sourceSize</key>
                <string>{300,147}</string>
            </dict>
            <key>pengAction2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{250,101}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,4},{250,101}}</string>
                <key>sourceSize</key>
                <string>{300,147}</string>
            </dict>
            <key>pengAction3.png</key>
            <dict>
                <key>frame</key>
                <string>{{304,2},{198,101}}</string>
                <key>offset</key>
                <string>{0,19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,4},{198,101}}</string>
                <key>sourceSize</key>
                <string>{300,147}</string>
            </dict>
            <key>pengAction4.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,210},{172,101}}</string>
                <key>offset</key>
                <string>{2,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,4},{172,101}}</string>
                <key>sourceSize</key>
                <string>{300,147}</string>
            </dict>
            <key>pengAction5.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{192,101}}</string>
                <key>offset</key>
                <string>{1,18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,5},{192,101}}</string>
                <key>sourceSize</key>
                <string>{300,147}</string>
            </dict>
            <key>pengAction6.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,105},{198,103}}</string>
                <key>offset</key>
                <string>{3,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,2},{198,103}}</string>
                <key>sourceSize</key>
                <string>{300,147}</string>
            </dict>
            <key>pengAction7.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,2},{198,121}}</string>
                <key>offset</key>
                <string>{3,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,0},{198,121}}</string>
                <key>sourceSize</key>
                <string>{300,147}</string>
            </dict>
            <key>pengAction8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{202,145}}</string>
                <key>offset</key>
                <string>{4,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{53,2},{202,145}}</string>
                <key>sourceSize</key>
                <string>{300,147}</string>
            </dict>
            <key>tingAction1.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,210},{164,152}}</string>
                <key>offset</key>
                <string>{0,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{164,152}}</string>
                <key>sourceSize</key>
                <string>{164,162}</string>
            </dict>
            <key>tingAction2.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,364},{164,156}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{164,156}}</string>
                <key>sourceSize</key>
                <string>{164,162}</string>
            </dict>
            <key>tingAction3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,355},{164,160}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,160}}</string>
                <key>sourceSize</key>
                <string>{164,162}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>actionSrc.png</string>
            <key>size</key>
            <string>{1024,609}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:56a353ab16d2b5a129935e823ce22692:c154badaf3476c4057673fbbcaefb73a:3bb12c5e6414c5371412757d3600d232$</string>
            <key>textureFileName</key>
            <string>actionSrc.png</string>
        </dict>
    </dict>
</plist>
