<?xml version="1.0" encoding="utf-8"?>
<bcaster>
  <item id="1" >
    <name>X先生</name>
    <number>123456</number>
  </item>

  <item id="2" >
    <name>X小姐</name>
    <number>123456</number>
  </item>

  <item id="3" >
    <name>X先生</name>
    <number>123456</number>
  </item>

  <item id="4" >
    <name>
      X小姐
    </name>
    <number>123456</number>
  </item>

  <item id="5" >
    <name>
      X先生
    </name>
    <number>123456</number>
  </item>

  <item id="6" >
    <name>X先生</name>
    <number>123456</number>
  </item>

</bcaster>
