/*a:link { color: #000000; text-decoration: none}
a:visited { color: #000000; text-decoration: none}
a:hover { color: red; text-decoration: none}*/
body
{
    background-color: #f2f8ff;
    font-family: "宋体";
    font-size: 12px;
    scrollbar-highlight-color: buttonface;
    scrollbar-shadow-color: buttonface;
    scrollbar-3dlight-color: buttonhighlight;
    scrollbar-track-color: #eeeeee;
    scrollbar-darkshadow-color: buttonshadow;
    line-height: 150%;
}
input
{
    padding: 1px;
    font-size: 12px;
    font-family: "宋体";
}
/* header 头部 */td
{
    font-size: 12px;
    line-height: 150%;
    margin-top: 0;
    margin-bottom: 0;
}
.td
{
    border: 1px solid #0066cc;
    word-break: break-all;
}
.td1
{
    border-bottom: 1px solid #0066cc;
    word-break: break-all;
    height: 26;
    border-left-width: 1px;
    border-right-width: 1px;
    border-top-width: 1px;
    background-color: #e8e8ff;
}
.put
{
    border: 1px solid #cccccc;
    background: #ffffff;
}


#page_link
{
    color: #6f7372;
    padding: 4px;
    text-align: right;
}
#page_link a:link
{
    font-family: "arial" , "helvetica" , "sans-serif";
    background-color: #fff;
    font-size: 14px;
    border: 1 solid #dedfde;
    color: #0075ff;
    padding: 2px 6px 2px 6px;
    text-decoration: none;
}
#page_link a:visited
{
    font-family: "arial" , "helvetica" , "sans-serif";
    background-color: #fff;
    font-size: 14px;
    border: 1 solid #dedfde;
    color: #0075ff;
    padding: 2px 6px 2px 6px;
    text-decoration: none;
}
#page_link a:hover
{
    font-family: "arial" , "helvetica" , "sans-serif";
    background-color: #0075ff;
    font-size: 14px;
    border: 1 solid #dedfde;
    color: #fff;
    padding: 2px 6px 2px 6px;
    text-decoration: underline;
}
#page_link a:active
{
    font-family: "arial" , "helvetica" , "sans-serif";
    background-color: #fff;
    font-size: 14px;
    border: 1 solid #dedfde;
    color: #0075ff;
    padding: 2px 6px 2px 6px;
    text-decoration: none;
}
.curr
{
    font-family: "arial" , "helvetica" , "sans-serif";
    font-weight: bold;
    font-size: 16px;
    color: #000;
    padding: 2px 6px 2px 6px;
    text-decoration: none;
}
 .mask{width: 100%;height: 100%;background: #000;opacity: .4;position: fixed;_position: absolute;filter: progid:DXImageTransform.Microsoft.Alpha(opacity=40);top: 0;left: 0;z-index: 999999998;  vertical-align:middle;  color:Red; display:none}
 .mask_msg{  position:absolute; margin:0px; padding:0px; clear:both; font-size:14px; font-weight:700px; color:blue; background-color:#c1cad9; vertical-align:middle; margin:0px auto;z-index: 999999999;padding:10px; left:50%; top:20%;}