<?xml version="1.0"?>
<!-- 
    注意: 除了手动编辑此文件以外，您还可以使用 
    Web 管理工具来配置应用程序的设置。可以使用 Visual Studio 中的
     “网站”->“Asp.Net 配置”选项。
    设置和注释的完整列表在 
    machine.config.comments 中，该文件通常位于 
    \Windows\Microsoft.Net\Framework\v2.x\Config 中LuckIsland
-->
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
  <connectionStrings>
    <add name="constr" connectionString="server=.;uid=sa;pwd=sa123;database=dkl;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <appSettings>
    <!--此行代码的value值如果和域名不一致，会导致玩家无法登录 add key="Domain" value="http://localhost:83"/-->
    <!--后台目录设置，方便客户修改目录名称-->
    <add key="ManageDirectory" value="admin"/>
    <add key="Domain" value=""/>
    <!--允许金币与客户平台兑换的IP,*表示所有IP-->
    <add key="AllowGoldChangeIP" value="*"/>
    <!---判断是否代理商的网站,0不是，1是-->
    <add key="IsAgencyWebSite" value="0"/>
    <!--代理商帐号，代理商登录的账号，只有上面设置1下面才有效-->
    <add key="AgencyName" value=""/>
    <!--代理商整包下载地址-->
    <add key="AgencyFullDownURL" value=""/>
    <!--代理商简包下载地址-->
    <add key="AgencySmallDownURL" value=""/>
    <!--货币名-->
    <add key="moneyName" value="欢乐豆"/>
    <!--实货币名-->
    <add key="GoldName" value="奖券"/>
    <!--平台名称-->
    <add key="sitename" value="红鸟"/>
    <add key="FileNameSequenceIDFilePath" value="/Upload/Sequence.xml"/>
    <add key="addZero" value=""/>
    <!--数据库执行时间设置，防止短时间sql超时-->
    <add key="Command.CommandTimeout" value="1800"/>
    <!--银行版本 1一个钱包 2一个游戏一个钱包-->
    <add key="BankVersion" value="1"/>
    <!--金币除以100-->
    <add key="ExceptZero" value="100"/>
    <!--用户加密方式-->
    <add key="encryption" value="md5"/>
    <add key="CookiesName" value="Bzw"/>
    <!-- FCKEditor配置 -->
    <add key="FCKeditor:BasePath" value="/Public/Js/fckeditor/"/>
    <add key="FCKeditor:UserFilesPath" value="/Upload/FCK/"/>
    <!--兑奖中心，兑换成功后的提示信息-->
    <add key="DuiJingMgs" value="恭喜！您的资料已提交成功，我们会尽快处理……"/>
    <!--控制用户资料的QQ字段是否为必填，为1的时候表示必添，为0或其他的时候表示不需要-->
    <add key="QQ" value="0"/>
    <!--控制用户资料的真实姓名是否为必填，为1的时候表示必添，为0或其他的时候表示不需要-->
    <add key="RealName" value="0"/>
    <!--控制用户资料的身份证号码是否为必填，为1的时候表示必添，为0或其他的时候表示不需要-->
    <add key="IDCard" value="0"/>
    <!--房间税率名称配置-->
    <add key="RoomTaxName" value="门票"/>
    <!--游戏房间是否显示税率的配置,1为显示，0为不显示，即只显示门票-->
    <add key="RoomTaxSelected" value="1"/>
    <!--是否开启未成年人保护 0为不开启，1为开启即18岁以下不让注册-->
    <add key="IsCardProtected" value="0"/>
    <add key="IPDataUrl" value="/IPData/CoralWry.dat"/>
    <!--机器人是否参与所有排行 1参与排行 0不参与排行-->
    <add key="RobotRank" value="1"/>
    <!--服装商城 0无 1有-->
    <add key="ClothingMall" value="1"/>
    <!--是否可以充积分 0无  1有-->
    <add key="IsPayToPoint" value="0"/>
    <!--上传文件大小：500KB=500*1024=512000-->
    <add key="FileSize" value="512000"/>
    <!--上传文件格式：用英文半角逗号隔开-->
    <add key="FileType" value="jpeg,jpg,png,gif,bmp"/>

    <!--后台家族功能开启和关闭（默认关闭）-->
    <add key="Falimy" value="0"/>
    <!--U3D控制开关开启和关闭（默认关闭）-->
    <add key="U3DButtons" value="0"/>
    <!--是否开启头像审核（默认关闭）-->
    <add key="IsCheckHeadPic" value="0" />

    <!--1.IOS支付地址-->

    <!--https://sandbox.itunes.apple.com/verifyReceipt    //测试
        https://buy.itunes.apple.com/verifyReceipt    正式地址-->
    <add key="IOSPayUrl" value="https://sandbox.itunes.apple.com/verifyReceipt"/>


    <!--1.易宝充值商户ID、KEY配置-->
    <!--
      易宝接口测试的商户ID：10000432521
      KEY：8UPp0KE8sq73zVP370vko7C39403rtK1YwX40Td6irH216036H27Eb12792t
      URL：http://tech.yeepay.com:8080/robot/debug.action
  -->
    <add key="YeepayMerID" value=""/>
    <add key="YeepayKey" value=""/>
    <add key="YeepayNodeAuthorizationURL" value="https://www.yeepay.com/app-merchant-proxy/node"/>

    <!--     易宝接口 点卡充值   -->
    <!--merhantId    商户编号   -->
    <!--keyValue   密钥 -->
    <add key="merhantId" value="1"/>
    <add key="keyValue" value="1"/>
    <add key="authorizationURL" value="https://www.yeepay.com/app-merchant-proxy/command.action"/>

    <!--2.支付宝充值接口配置-->
    <add key="AlipayAccount" value=""/>
    <add key="AlipayPartnerID" value=""/>
    <add key="AlipayKey" value=""/>
    <add key="AlipayNotifyURL" value="https://mapi.alipay.com/gateway.do?"/>

    <!--2.手机支付宝充值接口配置
      MoibleAlipayPartnerID：支付宝ParternerID
      MoibleAlipayPublicKey：支付宝PublicKey公钥
      MoibleAlipayPrivateKey：支付宝PrivateKey私钥
      -->
    <add key="MoibleAlipayPartnerID" value="2088011485506714"/>
    <add key="MoibleAlipayPublicKey" value="MIGfMA0GCSqGSIb3DQEBAQUAA4GNADCBiQKBgQCnxj/9qwVfgoUh/y2W89L6BkRAFljhNhgPdyPuBV64bfQNN1PjbCzkIM6qRdKBoLPXmKKMiFYnkd6rAoprih3/PrQEB/VsW8OoM8fxn67UDYuyBTqA23MML9q1+ilIZwBC2AQ2UBVOrFXfFl75p6/B5KsiNG9zpgmLCUYuLkxpLQIDAQAB"/>
    <add key="MoibleAlipayPrivateKey" value="MIICWwIBAAKBgQDOekn1N/UdqwgpkcR38wAC8E2qr5kfHj94Iqvghfeem+dhueVP
rhPeo3yWKdQA1/BjmZRBszvmjq3h5Ob7fnt0IWHGUqGcSO338l452dWo7i7pKi7Y
we8/Pz+o1LsUEE407zU7PbieFyXpNCCc12J7Crg2j9O2tD4dvtJtvFObfQIDAQAB
AoGANc1NujUTjOCFJvfRvwO1zA473q8U8jPai/5U1RNze4PaXe+nngSZLtlg3GwX
zwR1oi5hoGEIycIB8yvHOF8z4Y2/cj1mf4TwqyESwyPCPlmc4xK3VQRDVVdeJ7nA
+ypkIlN8GftQavnlk7Nb42VDeivmD8wTMvnLCTSr8vcOS00CQQD10UaT3wue3YWR
6BTXraE8zvOODFz/dVrJEsmmTwGdWpZXkMgrsDT/HMStvMkX7bVQvg8Gbi5t4bx6
2HaY26AnAkEA1wfXiMgZEzzdJWJHRRXI0rYKwMgMFVc5b0WiqhJaQ9SnCbeGpHF2
aoXA1hZ+HhDWGx1nFMhDBFNe046ixQHJuwJASkUdtuXIJAq4JZpiWbvbIH1CtyNj
Icf6UxA7HuV2Dm3lSLW01QZbLM0rW3bTp0gp5ShXb9DwdECk6tTmGE8bNwJAQzqW
bpNxE4yx76A8fCMFeKulzQQ+kuWEdX+mDdpTEmYIG4eftwYqab+LvOOnZqsI5c1Z
jyvVmCKgwTAVP9cBRQJADe+cIHV4U2yPfHt4PYrNgKW8XMVZu0syqq02psgQA9tI
eSoOJVMJxPWtyDtU297QMvSm64CfrkqXeEl5Lc5dKA=="/>

    <!--3.15173支付参数配置 
    Pay15173ID：15173商户ID
    Pay15173Key：15173密钥
   -->
    <add key="Pay15173ID" value=""/>
    <add key="Pay15173Key" value=""/>
    <!--
          4.环迅充值配置
          ipsid商户编号
    -->
    <add key="ipsid" value=""/>
    <add key="ipsletter" value=""/>
    <!--5.KF支付接口-->
    <add key="KFPayID" value=""/>
    <add key="KFKey" value=""/>
    <!--KF提交URL-->
    <add key="KFNotifyURL" value="http://www.kfpos.com/pay/gateway.asp?"/>
    <!--6.宝付支付参数配置 
    baofoo_memberid:商户编号 
    baofoo_key:密钥 -->
    <add key="baofoo_memberid" value=""/>
    <add key="baofoo_key" value=""/>
    <!--7.聚付通参数设置
    JFTpay_MemberID :商户编号
    JFTpay_MemberKey:密钥
    -->
    <add key="JFTpay_MemberID" value=""/>
    <add key="JFTpay_MemberKey" value=""/>

    <!--8.汇潮支持参数设置
        HC_MD5key:密钥
    HC_MerNo :商户编号
    webSite:跳转支付的网站
    -->
    <add key="HC_MD5key" value=""/>
    <add key="HC_MerNo" value=""/>
    <add key="webSite" value="http://www.pay.com"/>

    <!--9.魔宝充值配置-->
    <!--//商户MD5密钥，切换到正式环境需要替换为正式密钥-->
    <add key="mbp_key" value=""/>
    <!--商户平台号-->
    <add key="platform_id" value=""/>
    <!--商户账号-->
    <add key="merchant_acc" value=""/>
    <!--摩宝支付网关地址-->
    <add key="mobaopay_gateway" value="https://trade.mobaopay.com/cgi-bin/netpayment/pay_gate.cgi"/>

    <!--微信支付
        商户名称： dhsm6789 
        商 户 号： 153601 
        密钥： e6093cb1b1f0a6858a46d586016c105e 
        网关 webSite:
    -->
    <add key="WX_MD5key" value=""/>
    <add key="WX_MerNo" value=""/>
    <add key="WX_webSite" value="http://www.zhifuka.net/gateway/weixin/weixinpay.asp"/>

    <!--点卡支付参数设置
    pc_MD5key:密钥
    pc_MerNo :商户编号
    gateway:跳转支付的网站
    -->
    <add key="pc_MD5key" value=""/>
    <add key="pc_MerNo" value=""/>
    <add key="pc_Gateway" value="http://www.zhifuka.net/gateway/zfgateway.asp"/>




    <!--智付B2C参数设置
        ZF_PrivateKey:私钥
        ZF_PublicKey:公钥
        ZF_ZFPublicKey:智付公钥
        merchant_code :商家号
        interface_version:接口版本 
        sign_type:签名方式
    -->
    <add key="ZF_PrivateKey" value=""/>
    <add key="ZF_PublicKey" value=""/>
    <add key="ZF_ZFPublicKey" value=""/>
    <add key="merchant_code" value=""/>
    <add key="interface_version" value="V3.0"/>
    <add key="sign_type" value="RSA-S"/>


    <!--9.PP钱包参数设置
    -->
    <add key="PP_MerID" value=""/>
    <add key="PP_MerKey" value=""/>
    <add key="PP_AuthUrl" value="https://www.paypalm.cn/bfsmob/http?"/>
    <!--<add key="PP_AuthUrl" value="http://124.193.184.92:8000/bfsmob/http?"/>-->
    <!--测试地址-->

    <!--11.聚宝支付参数设置
        静态密码、商户私钥在/Jubao/Key/目录下
    Jubao_partnerid:商户号 （测试14061642390911131749）
    -->
    <add key="Jubao_partnerid" value=""/>
    <add key="Jubao_returnURL" value="http://www.xxx.com/Manage/Pay/Jubao/Return.aspx"/>
    <add key="Jubao_callBackURL" value="http://www.xxx.com/Manage/Pay/Jubao/Callback.aspx"/>
    <!--首页静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
    <add key="Key_Default_Build" value="0"/>
    <!--游戏下载静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
    <add key="Key_Down_Build" value="0"/>
    <!--游戏规则静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
    <add key="Key_GameRule_Build" value="0"/>
    <!--新闻详细静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
    <add key="Key_NewsInfo_Build" value="0"/>
    <!--财富排行静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
    <add key="Key_RankMoney_Build" value="0"/>
    <!--魅力值排行静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
    <add key="Key_RankFasc_Build" value="0"/>
    <!--在线时间排行静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
    <add key="Key_RankOnLine_Build" value="0"/>
    <!--游戏时间排行静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
    <add key="Key_RankGameTime_Build" value="0"/>
    <!--游戏积分排行静态页过期常量(分钟)，设为0时则不生成和访问静态页-->
    <add key="Key_RankGamePoint_Build" value="0"/>
    <!--网站用户对接接口key值设置-->
    <!--注册key-->
    <add key="API_Reg" value="48c93e18ffbe4878b344cc1749ff6dc8"/>
    <!--修改密码key-->
    <add key="API_UpdatePwd" value="dfd8915f711b45c78c2b15ef70528699"/>
    <!--登录key-->
    <add key="API_Login" value="14efe3a1820b457b95da41b70fdfebc9"/>
    <!--退出登录key-->
    <add key="API_Logout" value="245454123b0d45c8b89cfc4748b7cb7c"/>
    <!--获取用户金币-->
    <add key="API_GetMoney" value="245454#%0d45c8b^c4748b7b7c"/>
    <!--操作用户金币-->
    <add key="API_OperateMoney" value="l!0p71*4757@e6cf17b%fb8e227rf"/>
  </appSettings>
  <system.web>
    <!-- 
            设置 compilation debug="true" 将调试符号插入 f
            已编译的页面中。但由于这会 
            影响性能，因此只在开发过程中将此值 
            设置为 true。
        -->
    <trace enabled="false" requestLimit="10" pageOutput="false" traceMode="SortByTime" localOnly="true"/>
    <sessionState mode="InProc" timeout="20"/>
    <compilation debug="true" defaultLanguage="c#" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Configuration.Install, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Data.OracleClient, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <!--
            通过 <authentication> 节可以配置 ASP.NET 使用的 
            安全身份验证模式，
            以标识传入的用户。 <authentication mode="Windows" />
        -->
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节可以配置相应的处理步骤。具体说来，
            开发人员通过该节可以配置
            要显示的 html 错误页
            以代替错误堆栈跟踪。
  -->
    <!--<customErrors mode="Off" defaultRedirect="error.aspx">
            <error statusCode="403" redirect="error.aspx" />
            <error statusCode="404" redirect="error.aspx" />
          <error statusCode="500" redirect="error.aspx" />
        </customErrors>-->

    <!--<customErrors mode="RemoteOnly" defaultRedirect="Error.htm"/>-->
    <!--  注意：此节设置是否使用ASP.net表单安全验证
    -->
    <!--  注意：此节设置由DnsServer接管http请求。不会干涉对非DnsServer路径下的请求。
    
    <httpModules>
      <add type="com.FlySky.HttpDnsServer" name="HttpDnsServer" />
    </httpModules>-->
    <!--  全球化
          此节设置应用程序的全球化设置。 utf-8
    -->
    <httpRuntime maxRequestLength="1000000" executionTimeout="720" requestValidationMode="2.0"/>
    <xhtmlConformance mode="Legacy"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>


  </system.web>
  <system.codedom/>
  <system.webServer/>
  <startup>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
</configuration>