@charset "gb2312";
html,body{ margin:0; padding:0; color:#000;  font-family:Tahoma;font-size:12px;   }
html{background:#dcdcdc;}
body{background:#fff url(../../../hn_img/images/reg/bodyBg.jpg) repeat-x  bottom;}
ul,li,h1,h2,h3,h4,h5,h6,div,form,input,dl,dt,dd,ol,p,td{ margin:0; padding:0;}
ul,li{list-style-image:none;list-style-type:none;}
i{ font-style:normal;}
a{text-decoration:none;color:#3366CC; }
a:hover{ text-decoration:underline; color:#FF6600; }
img{ border:0;}
.blankbar{ clear:both; height:10px; overflow:hidden;}
.h_1px{ height:1px; line-height:1px; clear:both; overflow:hidden;}
.h_8px{ height:8px; line-height:8px; clear:both; overflow:hidden;}
.w960{ width:960px; clear:both; margin:0 auto;}
.c_960{ width:960px; clear:both; margin:0 auto;}
.top{ padding-top:10px; position:relative; height:120px; position:relative;}
.top .logo{ position:absolute; top:40px;}
.mainpage{ background:url(../../../hn_img/images/reg/mainpage_bg.jpg) repeat-y; overflow:hidden; position:relative; }
.mainpage-b{ background:url(../../../hn_img/images/reg/double_line2.gif) repeat-x; height:2px; overflow:hidden; clear:both;}
.left_page{ float:left; background:url(../../../hn_img/images/reg/left_bg.jpg) no-repeat top left; width:193px; min-height:497px;_min_height:497px; }
.right_page{ float:right; background:url(../../../hn_img/images/reg/right_bg.jpg) no-repeat top left; width:767px;min-height:520px;_height:597px;}
.left_tit{ padding:2px; text-align:center;}
.menu {width:189px; float:right;}
.menu li{width:189px; position:relative; height:75px; float:left;}
.menu a{ background:url(../../../hn_img/images/reg/menu.png) no-repeat; width:214px; height:75px; display:block; position:absolute;}
.menu a.menu1{ background-position:0 0px;}
.menu a.menu2{ background-position:0 -75px;}
.menu a.menu3{ background-position:0 -150px;}
.menu a.menu4{ background-position:0 -225px;}
.menu .on a.menu1,.menu a.menu1:hover{ background-position:-214px 0;}
.menu .on a.menu2,.menu a.menu2:hover{ background-position:-214px -75px;}
.menu .on a.menu3,.menu a.menu3:hover{ background-position:-214px -150px;}
.menu .on a.menu4,.menu a.menu4:hover{ background-position:-214px -225px;}
.regList{ margin:20px 0 0 40px;}
.regList li{ position:relative; clear:both; float:left; _float:none; width:100%;  margin:17px 0 0 0;line-height:35px;}
.regList b{float:left; width:90px; text-align:right; font-size:14px; font-weight:normal;display:inline; margin-right:10px;color:#333333; }
.regList li input{float:left; background:url(../../../hn_img/images/reg/inp1.gif) repeat-x; height:33px; line-height:33px; border:1px solid #b0beca; padding:0 3px;border-radius:3px;}
.regList input.inp1{ width:190px;}
.regList input.inp2{ width:60px;}
.regList input.onFocus{ background:#fff; border:#569dde 1px solid;}
.regList i{float:left; color:#f00; width:25px; text-align:center;}
.regList span.judge{float:left;   position:absolute; left:320px; top:6px; padding-left:25px; color:#666666; height:20px; line-height:20px; }
.regList span img{ position:absolute; left:0;}
.regList span.correct{ }
.regList li.verifyImg{margin:10px 0 0 0;}
.verifyImg img{ margin-left:100px;}
.regList .getcode{ float:left; height:24px; padding:0px; width:125px; white-space:nowrap; line-height:20px; overflow:hidden;  display:inline; margin:5px 0 0 4px;}
.tipWord{ position:relative; width:350px; background:#FFFFCC; border:1px solid #d7d7c4;  left:100px; line-height:24px; padding:0 5px;border-radius:3px; float:left;color:#666666;}
.tipWord span{width:17px; height:7px; display:block; position:absolute;left:5px;}
.forDown{top:8px; zoom:1; }
.forDown span{ background:url(../../../hn_img/images/reg/tiparrow_down.gif) no-repeat;bottom:-7px; _bottom:-15px;}
.forUp{ top:-8px;}
.forUp span{background:url(../../../hn_img/images/reg/tiparrow_up.gif) no-repeat;top:-7px;}
.tipWord i.colorBlue{float:none;color:#3f9ad3; }
.tipWord img{float:left; margin-top:3px;}
.tipWord button{  margin:0 0 5px 100px; height:24px; line-height:20px;}
.tipWord2{ padding-left:15px;color:#666666;}
.tipWord2 a{margin:0 3px;}
.addition{ clear:both;background:url(../../../hn_img/images/reg/double_line.gif) repeat-x bottom;}
.addition span{ margin-left:40px;width:55px; background:url(../../../hn_img/images/reg/arrow_right.gif) no-repeat right center;line-height:30px; color:#930; font-weight:bold; font-size:14px; cursor:pointer; display:block;color:#3f9ad3;}
.addition span.choosed { background:url(../../../hn_img/images/reg/arrow_down.gif) no-repeat right center;}
.subBox{background:#f6f6f6 url(../../../hn_img/images/reg/double_line.gif) repeat-x bottom;  width:766px;float:left;}
.subBox .regList{ margin-top:0;}
.userHead{float:left;}
.userHead img{ border:1px solid #b4c7d6; padding:1px;}
#touxiang{width:215px; height:205px; overflow:hidden; position:absolute; padding:2px; background:#fff; border:1px solid #b0beca; z-index:200; left:200px; top:-150px; }
.txShow{width:213px; height:179px; float:left; padding:3px;}
.txShow a{display:block; float:left; padding-left:2px; margin-right:2px; display:inline;  margin-bottom:2px;}
.txShow a img{ float:left; padding:3px; border:1px solid #b0beca; }
.txShow a:hover img{border:1px solid #5696de;}
.txClick{ width:213px;height:20px; float:left;}
.txClick a{ text-decoration:none;}
.aBlock{width:40px; margin:0px 5px;height:18px; text-align:center; background:#3b8dce; border:1px solid #CCCCCC; display:block; float:left; font-size:12px; color:#FFFFFF; font-family:"ו"; line-height:20px;}
.aBlock:hover{color:#fff; background:#6BA4D1;}
.insertTX img{padding:1px; border:1px solid  #999999;}
.yema{float:left; width:40px; height:18px; margin:0px 5px; line-height:18px; text-align:center;}
.agree{line-height:50px; margin-left:140px; padding-top:10px;}
.agree a{color:#3f9ad3; }
.agree input{ margin-right:5px;}
.apply{ margin-left:140px; height:80px; }
.apply button{ background:url(../../../hn_img/images/reg/reg_apply.gif) no-repeat right bottom; width:173px; height:45px; border:none; margin:20px 0 0 0; cursor:pointer;}
.access{ width:122px; overflow:hidden; position:absolute; top:30px; right:30px;  z-index:100;}
.access b{ display:block; text-align:center; font-weight:normal; line-height:20px; color:#222222;}
.access a{  display:block; border:1px solid #d5d5d5;  height:25px; line-height:25px;  background:#fff url(../../../hn_img/images/reg/reg_icon.gif) no-repeat; color:#b8b8b8; text-decoration:none; margin:5px 0 0 0; }
.access a:hover{ color:#555555;}
.access a i{padding-left:40px;}
.access a.but1{ background-position:20px 6px; }
.access a.but2{ background-position:20px -14px;}
.access a.but3{ background-position:20px -35px;}
.access a.but1:hover{ background-position:20px -54px; }
.access a.but2:hover{ background-position:20px -74px; }
.access a.but3:hover{ background-position:20px -95px; }
.access a.but0{ background: url(../../../hn_img/images/reg/reg_loing.gif) no-repeat center; height:33px; border:none;}
.states{ width:560px; margin:60px 0 0 60px; }
.states_tips{font-family:Microsoft YaHei; font-size:20px;min-height:140px;_height:140px; color:#575757; line-height:36px;}
.states_tips img{float:left; display:inline; margin:5px 5px 0 0; }
.states_tips span{float:left; width:500px; word-break:break-all;}
.states_tips a{color:#d71d00; font-size:28px;}
.states_tips i{ display:block; font-size:12px;color:#919191;}
.states_tips i a{ color:#5e8bb4; font-size:12px;}
.ifFail{ margin-left:40px; padding-top:10px; line-height:20px;color:#919191; clear:both ; width:500px;}
.ifFail h3{font-family:Microsoft YaHei; font-size:16px;color:#5e8bb4; line-height:30px;}
.ifFail h4{font-size:12px; font-weight:normal; line-height:30px;} 
.ifFail a{color:#5e8bb4;}
.client-download{ clear:both; background:url(../../../hn_img/images/reg/client-download.gif) no-repeat 0 -44px; width:172px; height:44px; float:left; margin:20px 0 0 40px; }
.client-download:hover{ background-position:0 0px;}
.games_recom{width:520px; margin:60px 0 0 60px; clear:both;}
.games_recom li{float:left; width:64px; height:100px; overflow:hidden; display:inline; margin:0 5px; }
.games_recom li b{ display:block; font-weight:normal; text-align:center; line-height:14px; padding-top:5px; }
.games_recom li a{color:#575757;}
.pages_but { clear:both; float:left; height:30px; display:inline;  margin:10px 0 0 220px;  }
.pages_but a{ background:url(../../../hn_img/images/reg/loginIco.gif) no-repeat 0 -80px; width:16px; height:16px; float:left; display:inline; margin:0 2px; overflow:hidden;}
.pages_but a.selected{ background-position:-20px -80px; cursor:default;}
.footer{ clear:both; background:url(../../../hn_img/images/reg/footerBg.gif) repeat-x 0 0px;text-align:right; line-height:20px; color:#b0b0b0;padding-top:15px; font-family:SimSun;  height:65px; }
.footer .comp{float:left; text-align:left; }
.footer .comp a{color:#3E3E3E; margin:0 0px;}
.footer .Zf{float:right;}
/*yi+20141111*/
.mail_thishi { z-index:10;}
.mail_thishi .ph2{ width:194px; position:relative; float:left; margin-right:4px;}
.mail_thishi .ph2 input{ width:190px; position:relative; outline-style:none;}
.mail_thishi .ph2 dl{ clear:both; position:absolute; background:#fff; width:196px; border:1px solid #b0beca; top:34px; font-size:15px; padding:4px 0; display:; left:0; line-height:24px;}
.mail_thishi .ph2 dt{ padding-left:6px; cursor:pointer;}
.mail_thishi .ph2 .hov,.mail_thishi .ph2 dt:hover{ font-weight:bold; color:#386fb4;}
